.defaultCSSButton {
    background-color: #0D5C63 !important;
    color: #F0ECE3 !important;
    border: 2px solid #BC986A !important;
    border-radius: 20px !important;
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s !important;

    &:hover, &:focus {
        background-color: darken(#0D5C63, 10%) !important;
        color: #FFF !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
        outline: none !important;
    }

    &:disabled {
        background-color: lighten(#0D5C63, 10%) !important;
        border-color: lighten(#BC986A, 10%) !important;
        color: lighten(#F0ECE3, 10%) !important;
        cursor: not-allowed !important;
    }
}
