#banner-principal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(240, 236, 227, 0.2);
        z-index: 1;
    }

    div {
        position: absolute;
        top: 40%;
        left: 5%;
        color: #DAA520;

        h1 {
            font-size: 5rem;
            margin-bottom: 1rem;
        }
        h3 {
            font-size: 4rem;
            font-weight: 400;
        }
    }

    .banner-principal-img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        object-position: bottom;
    }
}

button {
    background-color: #0D5C63;
  }