.product-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .editable-field {
    display: flex;
    align-items: center;

    p {
      padding-right: 1rem;
    }
  }

  .editInput {
    display: flex;
    align-items: center;
  }

  .description-container {
    display: flex;

    p {
      width: 70%;
    }
  }

  .product-info {
    display: flex;
    align-items: center;
    width: 100%;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
    }

    .product-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80px;

      p {
        margin: 0;
        &:nth-child(1) {
          font-size: 1.2em;
          font-weight: bold;
        }
        &:nth-child(2), &:nth-child(3) {
          font-size: 1em;
        }
      }
    }
  }

  .product-description {
    margin-top: 10px;
    font-size: 0.9em;
    width: 100%;
  }

  .fa-trash {
    margin-top: 10px;
    font-size: 1.5em;
    color: #c0392b;
    cursor: pointer;
    &:hover {
      color: #e74c3c;
    }
  }
}
