/* style.scss */
.my-col {
  padding: 2rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.product-list {
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f3f0eb;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .product-info {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;

      .image-container {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .product-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .editable-field {
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;

          p {
            flex-grow: 1;
            margin-right: 0.5rem;
            margin-bottom: 0;
            margin-left: 0;
          }
        }

        .editInput {
          display: flex;
          align-items: center;
        }
      }
    }

    .description-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;

      p {
        width: 80%;
      }
    }

    .action-icon {
      margin-right: 0.5rem;
    }

    .delete-icon {
      color: #c0392b;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #e74c3c;
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;

  .page-item {
    margin: 0 5px;

    .page-link {
      background-color: #fff3e0;
      color: #cb6d51;
      border-radius: 5px;
      padding: 5px 10px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #ffe0cc;
        text-decoration: none;
      }

      &:focus {
        box-shadow: 0 0 0 2px rgba(203, 109, 81, 0.5);
      }
    }

    &.active .page-link {
      background-color: #cb6d51;
      color: #fff;
    }

    &.disabled .page-link {
      color: #e0e0e0;
      cursor: not-allowed;
    }
  }
}

/* Adicionando estilos globais para ícones do FontAwesome usados na paginação */
.fa-chevron-left,
.fa-chevron-right,
.fa-step-backward,
.fa-step-forward {
  color: #cb6d51;
  cursor: pointer;

  &:hover {
    color: #ff7043;
  }
}
