.product-item {
  background-color: #f0ece3; // Cor de fundo clara para cada item
  border-radius: 8px; // Bordas arredondadas
  padding: 15px; // Espaçamento interno
  margin-bottom: 15px; // Espaçamento entre itens
  display: flex; // Disposição em linha
  align-items: start; // Alinhamento vertical dos itens
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra suave para dar profundidade

  .product-image {
    width: 100px; // Largura fixa para a imagem
    height: 100px; // Altura fixa para a imagem
    object-fit: cover; // Garante que a imagem cubra o espaço designado
    border-radius: 4px; // Bordas arredondadas para a imagem
    margin-right: 15px; // Espaçamento entre a imagem e o texto
  }

  p {
    margin: 0; // Remove a margem padrão do parágrafo
    color: #333; // Cor do texto
    &:not(:last-child) {
      margin-right: 10px; // Espaçamento entre os textos
    }
  }

  .action-icon {
    margin-left: auto; // Empurra os ícones para o lado direito
    cursor: pointer; // Indica que o ícone é clicável
    color: #0d5c63; // Cor dos ícones

    &:hover {
      color: #bc986a; // Cor ao passar o mouse sobre o ícone
    }
  }
}

// Estilização do Modal de confirmação
.modal-content {
  .modal-header,
  .modal-footer {
    background-color: #0d5c63; // Cor de fundo para o cabeçalho e rodapé do modal
    color: #f0ece3; // Cor do texto

    .close {
      color: #f0ece3; // Cor do botão de fechar
    }
  }

  .modal-body {
    background-color: #f0ece3; // Cor de fundo para o corpo do modal
  }

  button {
    &:not(:last-child) {
      margin-right: 10px; // Espaçamento entre os botões
    }
  }
}
